# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea/*
!.idea/scopes

# gradle
build
.gradle

# other
eclipse
run
runs

# repo
/l-mods/
/common/src/generated/*
/.kotlin/errors/errors-1770710885003.log
/rel/
/rel/*
/.kotlin/
